:root {
  /* Primary: Green of Bhabua */
  --primary-100: #f9fff2;
  --primary-200: #e8ffcb;
  --primary-300: #dbfea4;
  --primary-400: #d1fb7b;
  --primary-500: #caf553;
  --primary-600: #a2c12b;
  --primary-700: #7c8e17;
  --primary-800: #535a0d;
  --primary-900: #252605;

  /* Accent: Azul */
  --accent-100: #f2f2ff;
  --accent-200: #bdc1ff;
  --accent-300: #8895fd;
  --accent-400: #526ffa;
  --accent-500: #1d4ff2;
  --accent-600: #0a3fbf;
  --accent-700: #02328c;
  --accent-800: #002559;
  --accent-900: #001226;

  /* Neutral */
  --neutral-100: #fbfcfa;
  --neutral-200: #eaede8;
  --neutral-300: #daddd6;
  --neutral-400: #cacdc4;
  --neutral-500: #babdb3;
  --neutral-600: #95978e;
  --neutral-700: #707169;
  --neutral-800: #4b4c45;
  --neutral-900: #262622;
}
