@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Gabarito:wght@400..900&display=swap");

:root {
  --message: "Ayo sholat!";
  --flex-start: flex-start;
  --sb: space-between;
  --lg-gap: 5rem;
  --tx_fs: flex-start;
  --tx_fe: flex-end;
  --tx_sb: space-between;
  --font-body: "gabarito", sans-serif;
  --font-mono: "fira code", monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* min-sm */
@media (min-width: 640px) {
  :root {
    --sm-w: 24rem;
  }
}
/* max-sm */
@media (max-width: 640px) {
  :root {
    --max-sm: column;
    --sm-center: center;
  }
}
/* sm */
@media (min-width: 640px) and (max-width: 767px) {
}
/* min-md */
@media (min-width: 768px) {
  :root {
    --min-md\:none: none;
    --docs-layout: flex;
    --docs-position: unset;
    --docs-sidebar-toggle: none;
  }
}
/* max-md */
@media (max-width: 768px) {
  :root {
    --max-md\:none: none;
    --docs-navigation: none;
    --docs-position: fixed;
    --docs-top: 0;
  }
}
/* md */
@media (min-width: 768px) and (max-width: 1023px) {
}
/* min-lg */
@media (min-width: 1024px) {
  :root {
    --lg-gap: 2.5rem;
  }
}
/* max-lg */
@media (max-width: 1024px) {
  :root {
    --max-lg: column;
  }
}
/* lg */
@media (min-width: 1024px) and (max-width: 1279px) {
}
/* min-xl */
@media (min-width: 1280px) {
}
/* max-xl */
@media (max-width: 1280px) {
}
/* xl */
@media (min-width: 1280px) and (max-width: 1545px) {
}
/* min2xl */
@media (min-width: 1546px) {
}
/* max-2xl */
@media (max-width: 1546px) {
}
/* 2xl */
@media (min-width: 1546px) {
}
